@use '../../../static/variables.scss' as variables;

.input-row{
    display: block;
    margin: 0 30px;
}

.input-row__label {
    display: block;

}

.input-row__label_displayed {
    display: none;
}

.input-row__field {
    text-align: left;
    width: 280px;
    border-bottom: 1px solid #3369F3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 32px 0 0;
}

.input-row__help {
    display: block;
    text-align: left;
    color: variables.$validation-error-color;
}
