.search {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #EFEFEF;
    border-radius: 5px;
}

.input_bg-color_transparent {
    background-color: transparent;
}
  
.search__icon {
    margin-left: 12px;
}
  