@use '../../../static/variables.scss' as variables;

.link {
  display: inline-block;
  color: variables.$button-bg-accept;
  text-decoration: none;
  cursor: pointer;

  &::first-letter {
    text-transform: uppercase;
  }
}
